
  .team {
    background: linear-gradient(#b4bfff,#3f51b5);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18vh;
    width: 100%;
    /* overflow: scroll; */
    z-index: -1;
}
  .section-heading {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 2.5vh;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
  }
  
  .profile {
    transition: all 0.1s;
    /* margin: 4px; */
  }
  
  .profile:hover {
    transform: scale(1.1);
  }
  
  .profile img {
    max-width: 3rem;
    border-radius: 50%;
    border: 2px solid #f7f7f7;
    cursor: pointer;
  }

  
  .profile .name {
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", cursive;
    white-space: nowrap;
    font-size: 2.5vh;
    transition: transform .2s;
    opacity: 0;
    background-color: rgb(207, 226, 255);
    border-radius: 25px;
    /* padding: 0 5px; */
    text-decoration: none;
    /* margin-right: 50px; */
  }
  
  
  .profile img:hover + .name {
    opacity: 1;
  }