.app{
margin-top:5%;
display: block;
width: 22%;
margin-left:40%;
background-color: grey;
border: 2px solid black;

}
.pin{
    padding-left: 5px;
    align-content: center;
    margin-left: 10%;
    background-color: honeydew;
    width: 80%;
    height: 50%;
    margin-bottom: 9%;
}
.buttonsa{
    margin-left: 25%;
    
}
.btna{
    /* padding-left: 10px;
    border: 1px solid;
    background-color: lavender; */
  padding: 10px 20px;
  margin-left: 14%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: navy;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.btna:hover {background-color: #3e8e41}

.btna:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}